* {
    scrollbar-width: thin;
    scrollbar-color: var(--c-grey_l3);
}

body {
    position: relative;
    color: var(--c-text-primary);
    font: normal 16px/1.625 var(--f-default);
    background-color: var(--c-grey_l5);
    overflow-x: hidden;
}

a {
    color: inherit;
    transition: color .3s var(--easing);
    &:hover {
        text-decoration: none;
        color: var(--c-purple);
    }
}

ul, li, ol {
    list-style-type: none;
    margin: 0;
    padding: 0;
}
article {
    ul {
        margin: 0;
        padding: 0;
        list-style: none;
        li {
            position: relative;
            padding-left: 25px;
            &:before {
                content: "";
                width: 10px;
                height: 10px;
                border-radius: 50%;
                border: 2px solid var(--c-cyan);
                position: absolute;
                top: 8px;
                left: 0;
            }
            + li {
                margin-top: 15px;
            }
        }
        ul {
            margin: 10px 0 20px 20px;
            padding: 0;
            list-style: none;
            li {
                + li {
                    
                }
            }
        }
    }

}


#page {
    position: relative;
    height: 100%;
}

.main-header {
    position: absolute;
    width: 100%;
    top: 0;
    left: 0;
    right: 0;
    z-index: 99;
    color: #fff;

    &.is-sticky {
        position: fixed;
        background-color: var(--c-main);
        box-shadow: 0 12px 34px -11px rgba(65, 62, 101, 0.1);
        transition: transform 0.3s var(--easing);

        .menubar-flex {
            height: 80px;
        }
    }

    .menubar-flex {
        position: relative;
        display: flex;
        align-items: center;
        height: 150px;
    }
}

.menubar-left {
    .main-logo {
        position: relative;
        height: auto;
        z-index: 1040;
        display: flex;
        align-items: center;
        color: var(--c-white);
        

        .logo {
            width: 100px;

            img {
                width: 100%;
                height: auto;
            }
        }

        .title-logo {
            font-style: italic;
            margin-left: 10px;
            h5 {
                font-family: var(--f-title);
                text-transform: uppercase;
                margin-bottom: 0;
                
            }

            span {
                font-size: 12px;

            }
            
        }
    }
}

.menubar-right {
    position: relative;
    display: flex;
    align-items: center;

    .main-nav {
        ul {
        position: relative;
        display: flex;
        color: var(--c-white);
        }

        li {
            position: relative;
            padding: 15px 0;
            margin: 0 25px;
            display: flex;
            align-items: center;

            a {
                color: var(--c-white);
                text-transform: uppercase;
                font-size: 13px;
                font-weight: 700;
                padding: 0;

                &:before {
                    position: absolute;
                    content: "";
                    display: block;
                    left: 50%;
                    bottom: 100%;
                    transform: scaleY(0);
                    width: 2px;
                    height: 100%;
                    transform-origin: top;
                    background: linear-gradient(180deg,#1cbbcc,#4731ce);
                    transition: transform 0.3s var(--easing);
                    
                }

                &.active {
                    &:before {
                        transform: scale(1);
                    }
                }

                // &:hover {
                //     &:before {
                //         transform: scale(1);
                //     }
                // }
            }
        }
    
    }
}

.is-sticky {
    .menubar-right {
        ul {
            li {
                a {
                    &:before {
                        bottom: 80%;
                    }
                }
            }
        }
    }
}

%btn-gradient {
    position: absolute;
    content: "";
    top: -2px;
    bottom: -2px;
    width: 10px;
    border-radius: 4px;
    border: 2px solid transparent;
    transition: border-color .3s var(--easing);
    z-index: -5;
}

.btn-gradient {
    position: relative;
    display: block;
    line-height: 1.45;
    font-weight: 600;
    letter-spacing: .03em;
    text-transform: uppercase;
    font-size: 13px;
    min-width: 120px;
    padding: 14px 16px;
    text-align: center;
    border: none;
    background: transparent;
    z-index: 20;
    color: inherit;
    transition: .3s var(--easing);

    &:before {
        @extend %btn-gradient;
        left: -2px;
        border-right: none;
        border-color: #1cbbcc;
        border-top-right-radius: 0;
        border-bottom-right-radius: 0;
    }

    &:after {
        @extend %btn-gradient;
        right: -2px;
        border-left: none;
        border-color: #4731ce;
        border-top-left-radius: 0;
        border-bottom-left-radius: 0;
    }

    .btn-gradient-hover {
        background: linear-gradient(90deg,#1cbbcc,#4731ce);
        position: absolute;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        z-index: -10;
        opacity: 0;
        transition: opacity .3s var(--easing);

        &.purple {
            top: -2px;
            bottom: -2px;
            left: -2px;
            right: -2px;
            border-radius: 4px;
            background: var(--c-purple);
            z-index: -1;
        }
       
    }

    

    %btn-gradient-text {
        content: "";
        position: absolute;
        height: 2px;
        background: #1cbbcc;
        background: linear-gradient(90deg,#1cbbcc,#4731ce);
        left: 5px;
        right: 5px;
        z-index: -5;
    }

    .btn-text-gradient {
        &:before {
            @extend %btn-gradient-text;
            top: -2px;
        }

        &:after {
            @extend %btn-gradient-text;
            bottom: -2px;
        }
    }

    .btn-gradient-shine {
        border: 2px solid #fff;
        position: absolute;
        top: -2px;
        left: -2px;
        right: -2px;
        bottom: -2px;
        border-radius: 4px;
        opacity: .5;
        z-index: 1;
        clip-path: polygon(-50% 0,0 0,-80% 100%,-30% 100%);
        transition: clip-path .7s;
        
    }

    &:hover {
        color: var(--c-white);

        .btn-gradient-hover {
            opacity: 1;
        }

        .btn-gradient-shine {
            clip-path: polygon(130% 0,180% 0,100% 100%,150% 100%);
        }
    }


}

.thumb-img {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;

    img {
        display: block;
        width: 100%;
        height: 100%;
        object-fit: cover;
        object-position: center;
    }

    // &::after {
    //     position: relative;
    //     content: "";
    //     display: block;
    //     padding-top: 70%;
    // }
}

.title-heading {
    position: relative;
    z-index: 2;

    h6 {
        font-weight: 600;
        font-size: 12px;
        letter-spacing: 0.12em;
        text-transform: uppercase;
        margin-bottom: 20px;
        color: var(--c-purple);
    }

    h3 {
        font-family: var(--f-title);
        &:after {
            position: relative;
            content: '.';
            display: inline;
            color: var(--c-main);
            margin-left: 3px;
        }
    }

    h1 {
        margin-bottom: 30px;
        font-weight: 700;
        font-family: var(--f-title);
        letter-spacing: -0.04em;

        // &:after {
        //     position: relative;
        //     content: '.';
        //     display: inline;
        //     color: var(--c-cyan);
        //     margin-left: 3px;
        // }
    }

    &.text-white {
        > * {
            color: var(--c-white);
        }

        h6 {
            color: var(--c-cyan);

            &.text-purple {
                color: var(--c-purple);
            }
        }
        // h1 {
        //     &:after {
        //         color: var(--c-white);
        //     }
        // }
    }
}

.box-intro {
    position: relative;
    height: 100vh;
    width: 100%;
    background-color: var(--c-main);
    display: flex;
    align-items: center;
    padding-top: 120px;
    overflow: hidden;

    .intro-content {
        position: relative;
        z-index: 2;

        h1 {
            font-size: 3.4em;
            letter-spacing: 0;
        }
    }

    .btn-report {
        position: relative;
        display: flex;
        align-items: center;
        justify-content: center;
        width: 175px;
        height: 175px;
        color: var(--c-white);
        padding: 30px;
        text-align: center;
        z-index: 2;
        text-transform: uppercase;
        font-weight: 900;
        cursor: pointer;

        &:before {
            position: absolute;
            content: "";
            display: block;
            width: 100%;
            height: 100%;
            border-radius: 100%;
            border: 1px solid var(--c-white);
            background-color: rgba(255,255,255, .05);
            animation: scale_1 3s linear infinite alternate;
        }

        

        .spiner {
            position: absolute;
            width: 140%;
            height: 140%;
            animation: scale_2 3s linear infinite alternate;
            

            img {
                width: 100%;
                height: auto;
                animation: rotate 2.5s linear infinite;
            }
        }

        @keyframes rotate {
            from { transform: rotate(0deg);   }
            to   { transform: rotate(360deg); }
        }

        @keyframes scale_1 {
            0% {
                transform: scale(1);
              }
              
              90% {
                transform: scale(1);
              }
              
              100% {
                transform: scale(1.1);
              }
        }

        @keyframes scale_2 {
            0% {
                transform: scale(1);
              }
              
              93% {
                transform: scale(1);
              }
              
              100% {
                transform: scale(1.1);
              }
        }

        &:hover {
            &:before {
                transform: scale(1.1);
            }
        }
       
    }

    .scroll-down {
        position: absolute;
        left: 50%;
        bottom: -50px;
        transform: translate(-50%,0);
        width: 100px;
        height: 100px;
        border-radius: 100%;
        display: flex;
        align-items: flex-start;
        justify-content: center;
        padding-top: 15px;
        z-index: 2;

        img {
            position: absolute;
            left: 50%;
            top: 50%;
            transform: translate(-50%,-50%);
            width: 100%;
            height: 100%;
        }

        i {
            font-size: 1.5em;
            color: var(--c-white);
            animation: mouse-wheel 1.5s ease infinite;
        }

        @keyframes mouse-wheel {
            0% {
                opacity:1;
                -webkit-transform:translateY(-.3em);
                transform:translateY(-.3em)
            }
            100% {
                opacity:0;
                -webkit-transform:translateY(.375em);
                transform:translateY(.375em)
            }
        }

        

    }

    .background-particles {
        position: absolute;
        z-index: 1;
        left: 0;
        top: 0;
        bottom: 0;
        right: 0;
    }
}

.box-wrap {
    position: relative;
    padding: 8em 0;
    background-color: var(--c-white);
    overflow: hidden;

    &.rounded {
        padding-top: 13em;
    }

    &.bg-purple {
        background-color: var(--c-purple_12);
        
    }

    &.bg-blackpurple {
        background-color: var(--c-main);
        
    }

    .bg-rounded {
        position: absolute;
        width: 100%;
        height: 100%;
        top: 0;
        left: 0;

        &.flip {
            transform: scaleX(-1);
        }
    }

    &.overflow-unset {
        overflow: unset;
    }

    hr {
        border-top:1px solid rgba(255,255,255,.1)
    }

    
}

.list-feature {
    position: relative;
    display: block;
    margin-top: 5em;
    .item-feature {
        position: relative;
        display: flex;
        align-items: center;
        flex-direction: column;
        margin-bottom: 50px;
        padding: 0 30px;
        text-align: center;

        .icon-feature {
            position: relative;
            width: 100px;
            height: 100px;
            border-radius: 20px;
            color: var(--c-purple);
            font-size: 32px;
            display: flex;
            align-items: center;
            justify-content: center;
            box-shadow: 10px 10px 30px rgba(39, 52, 100, 0.2), -10px -10px 30px rgba(255, 255, 255, 0.1);
            margin-bottom: 30px;
            overflow: hidden;
            

            // &:after {
            //     position: absolute;
            //     content: "";
            //     display: block;
            //     top: 0;
            //     right: 0;
            //     bottom: 0;
            //     left: 0;
            //     background: linear-gradient(45deg, #0f0e20, #2d2768);
            //     opacity: 0;
            //     transition: all .5s var(--easing);
            //     z-index: 1;
            // }

            i {
                z-index: 2;
            }
        }

        .desc-feature {
            font-weight: 700;
            font-size: .86em;
        }

        &:hover {
            .icon-feature {
                &:after {
                    opacity: 1;
                }
            }
        }
    }

}


.phone {
    position: relative;
    display: block;
    margin-top: -200px;

    img {
        width: 115%;
        height: auto;
    }
}

.slide-wms {
    position: relative;
    height: 700px;
    margin-bottom: -255px;

    

    .swiper-1 {
        position: relative;
        height: 100%;
        width: 90%;
        margin: 0 auto;

        .swiper-slide {
            overflow: hidden;
        }

    }
}

.swiper-button-wrapper {
    position: relative;
    display: flex;
    justify-content: flex-end;
    margin-top: 3em;


    %swiper-btn {
        position: relative;
        background-image: none;
        background-color: var(--c-white);
        height: 50px;
        width: 50px;
        font-size: 1.4em;
        border-radius: 100%;
        display: flex;
        align-items: center;
        justify-content: center;
        left: auto;
        right: auto;
        margin-top: 0;
        transition: all .3s var(--easing);
    }
    
    .swiper-btn {
        @extend %swiper-btn;

        &.swiper-button-next {
            margin-left: 10px;
        }

    }

}

.box-search {
    position: relative;
    display: flex;
    padding: 30px;
    border-radius: 10px;
    background-color: var(--c-white);
    box-shadow: 0 29px 75px rgba(65, 62, 101, 0.1);
    align-items: center;
    margin: 3em 0;
    
        .form-input {
            margin-bottom: 0; 
            display: flex;
            align-items: center;
            flex: 1;

        .form-control {
            border: none;
            box-shadow: none;
            margin-left: 10px;
        }
    }
}


.list-faqs {
    position: relative;
    
    .item-faq {
        position: relative;
        padding: 20px 0;
        border-bottom: 1px solid #dfdfdf;

        .box-question {
            position: relative;
            display: flex;
            align-items: flex-start;
            cursor: pointer;

            h5 {
                font-weight: 700;
                padding-right:20px;
            }

            i {
                color: var(--c-purple);
                font-size: 18px;
                transition: .3s var(--easing);
               
            }

            &[aria-expanded="true"] {
                i {
                    transform: scale(-1);
                }
            }
        }

        .box-answer {
            
        }
    }
}

.box-map {
    position: relative;
    border-radius: 10px;
    overflow: hidden;
    height: 500px;
    margin-bottom: 30px;
    width: 100%;

    #map {
        width: 100%;
        height: 100%;
        background-color: #d5d5d5;
    }
}

.map-desc {
    color: var(--c-white);

    .item-desc {
        position: relative;
        display: flex;
        align-items: baseline;
        margin-bottom: 20px;

        i {
            margin-right: 10px;
        }
    }
}

.form-group {
    margin-bottom: 2rem;
}

.form-control {
    background-color: transparent !important;
    padding: .375rem 20px;
    height: 45px;

    &:focus {
        border-color: var(--c-purple);
        box-shadow: 0 0 0 .2rem rgb(71, 49, 206, .25);
    }
}

footer {
    padding: 3em 0;
    background-color: var(--c-main);
    border-top: 1px solid  rgba(255, 255, 255, 0.05);
    color: rgba(255, 255, 255, 0.25);
}

@media screen and (min-width:767.98px) {
    .reveal-holder {
     position:relative;
     overflow:hidden
    }
    .reveal-holder .reveal-block {
     position:absolute;
     top:0;
     width:100%;
     height:101%;
     background:#251b61;
     z-index:2;
    }
    .reveal-holder .reveal-block::before {
     position:absolute;
     content:"";
     top:0;
     left:0;
     right:0;
     bottom:0;
     background: #33267a;
     transition-property:transform;
     transition-duration:.8s;
    }
    .reveal-block.bottom.aos-animate::before,
    .reveal-block.top.aos-animate::before {
     transform:scaleY(1)
    }
    .reveal-block.left.aos-animate::before,
    .reveal-block.right.aos-animate::before {
     transform:scaleX(1)
    }
    .reveal-block.top::before {
     transform:scaleY(0);
     transform-origin:0 100%
    }
    .reveal-block.left::before {
     transform:scaleX(0);
     transform-origin:100% 0
    }
    .reveal-block.right::before {
     transform:scaleX(0);
     transform-origin:0 100%
    }
    .reveal-block.bottom::before {
     transform:scaleY(0);
     transform-origin:100% 0
    }
    [data-aos=reveal-bottom],
    [data-aos=reveal-left],
    [data-aos=reveal-right],
    [data-aos=reveal-top] {
     transition-property:transform;
     transition-delay:.5s
    }
    [data-aos=reveal-top] {
     transform:scaleY(1)
    }
    [data-aos=reveal-top].aos-animate {
     transform:scaleY(0);
     transform-origin:100% 0
    }
    [data-aos=reveal-left] {
     transform:scaleX(1)
    }
    [data-aos=reveal-left].aos-animate {
     transform:scaleX(0);
     transform-origin:0 100%
    }
    [data-aos=reveal-right] {
     transform:scaleX(1)
    }
    [data-aos=reveal-right].aos-animate {
     transform:scaleX(0);
     transform-origin:100% 0
    }
    [data-aos=reveal-bottom] {
     transform:scaleY(1)
    }
    [data-aos=reveal-bottom].aos-animate {
     transform:scaleY(0);
     transform-origin:0 100%
    }
    [data-aos=reveal-item] {
     visibility:hidden;
     transition-property:visibility;
     transition-duration:0s
    }
    [data-aos=reveal-item].aos-animate {
     visibility:visible
    }
   }
   @media only screen and (max-width:768px) {
    .animated {
     -o-transition-property:none!important;
     -moz-transition-property:none!important;
     -ms-transition-property:none!important;
     -webkit-transition-property:none!important;
     transition-property:none!important;
     -o-transform:none!important;
     -moz-transform:none!important;
     -ms-transform:none!important;
     -webkit-transform:none!important;
     transform:none!important;
     -webkit-animation:none!important;
     -moz-animation:none!important;
     -o-animation:none!important;
     -ms-animation:none!important;
     animation:none!important
    }
   }